@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.ReactModal__Content{
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a2a2a2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 71, 71)
  }

  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
*{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-button-next {
  right: 0 !important;
  background-image: linear-gradient(to left,#030014ac,transparent 110%) !important;
}
.swiper-button-prev {
  left: 0 !important;
  background-image: linear-gradient(to right,#030014ac,transparent 110%) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  margin-top: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 700;
  color: #fff !important;
  position: absolute !important;
  width: 3rem !important ;
  height: 8rem !important;
  top: var(--swiper-navigation-top-offset,14%) !important;
  margin-left: 0 !important;
  margin-right: 0 !important
}

.swiper-pagination {
  /* background-color: #fff; */
  position: relative !important;
  top: -6px !important;
}

.swiper-pagination-bullet {
  margin: 0 1px !important;
  background: var(--swiper-pagination-bullet-inactive-color,#ccc) !important;
  border-radius: 0 !important;
  width: 14px !important;
  height: 2px !important;
}

.swiper{
  padding: 0 48px !important;
}

.swiper .swiper-slide {
  overflow: visible !important;
}

/* .swiper-scale {
  transition: all 300ms ease-in-out;
  transform-origin: top;
  border-radius: 8px;
  z-index: 10;
}

.swiper-scale:hover a img {
  transform-origin: bottom;
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 10;
} */