@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.ReactModal__Content{
    padding: 0 !important;
}

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #a2a2a2; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 71, 71)
  }

  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
*{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-button-next {
  right: 0 !important;
  background-image: linear-gradient(to left,#030014ac,transparent 110%) !important;
}
.swiper-button-prev {
  left: 0 !important;
  background-image: linear-gradient(to right,#030014ac,transparent 110%) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  margin-top: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 700;
  color: #fff !important;
  position: absolute !important;
  width: 3rem !important ;
  height: 8rem !important;
  top: var(--swiper-navigation-top-offset,14%) !important;
  margin-left: 0 !important;
  margin-right: 0 !important
}

.swiper-pagination {
  /* background-color: #fff; */
  position: relative !important;
  top: -6px !important;
}

.swiper-pagination-bullet {
  margin: 0 1px !important;
  background: var(--swiper-pagination-bullet-inactive-color,#ccc) !important;
  border-radius: 0 !important;
  width: 14px !important;
  height: 2px !important;
}

.swiper{
  padding: 0 48px !important;
}

.swiper .swiper-slide {
  overflow: visible !important;
}

/* .swiper-scale {
  transition: all 300ms ease-in-out;
  transform-origin: top;
  border-radius: 8px;
  z-index: 10;
}

.swiper-scale:hover a img {
  transform-origin: bottom;
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 10;
} */
.pagination{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.pagination a{
  padding: .375rem .75rem;
  border-radius: 2px;
}
.pagination .page-link{
  display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination .active .page-link {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.pagination .disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.animate-header {
  transition: background-color 0.7s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: background-color;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

.image-box {
  position: relative;
  overflow: hidden;
  width: 182px;
  font-size: 14px;
  height: 90px;
}

.image-box *,
.image-box *:before,
.image-box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-like {
  position: relative;
  top:72%;
  left:38%;
  z-index:1000;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.image-box:before {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  opacity: 0;
  border-radius: 30px;
  z-index: 1000;
  background: grey;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.image-box .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box a {
  margin: 2px;
  padding: 6px;
  opacity: 0;
  background: #cececeff;
  box-shadow: rgb(143, 136, 136) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  text-decoration: none;
}



.image-box:hover:before {
  opacity: 0.6;
}

.image-box:hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.image-box:hover a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.image-box:hover a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.image-box:hover a:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.image-box:hover a:nth-child(5) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.show-more-button,
.show-less-button {
   background-color: transparent;
   width: 100%;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.episodes-gradient{
background: linear-gradient(180deg, rgba(3,0,20,0.87718837535014) 0%, rgba(3,0,20,0) 75%, rgba(141,141,141,0.1881127450980392) 100%);
}

